<nz-layout nz-row [nzJustify]="'space-around'" >
    <nz-content nz-col [nzSm]="24" [nzMd]="15" [nzLg]="15">
        <h3>Judo, résultats des tournois et championnats de judo : tournois labelisés, championnats de france, championnats d'europe, championnats du monde, jeux olympiques. </h3>
        
 <div class="container">
    <div class="row justify-content-between">
       
        <div class="col-lg-12 col-sm-12 col-md-12">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input type="text" [(ngModel)]="recherche" nz-input placeholder="recherche par nom" />
              </nz-input-group>
              <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch (click)="search()"><i nz-icon nzType="search"></i></button>
              </ng-template>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-lg-2 col-sm-12 col-md-12">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="annee" style="width: 100%;" [(ngModel)]="annee">
                <nz-option *ngFor="let a of listAnnee" [nzLabel]="a.annee" [nzValue]="a.annee"></nz-option>
              </nz-select>
        </div>
        <div class="col-lg-5 col-sm-12 col-md-12">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="categorie de competition" style="width: 100%;" [(ngModel)]="catEvent">
                <nz-option *ngFor="let event of listOfEvent" [nzLabel]="event.intitule" [nzValue]="event.id"></nz-option>
              </nz-select>
        </div>
        <div class="col-lg-4 col-sm-12 col-md-12">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="categorie d'age" style="width: 100%;" [(ngModel)]="catAge">
                <nz-option *ngFor="let age of listOfcatAge" [nzLabel]="age.intitule" [nzValue]="age.id"></nz-option>
              </nz-select>
        </div>
        <div class="col-lg-1 col-sm-2 col-md-2">
            <button nz-button nzType="primary" nzShape="circle" (click)="search2()"><i nz-icon nzType="search"></i></button>
        </div>
    </div>
    <div class="row justify-content-between">
       
      <div class="col-lg-12 col-sm-12 col-md-12">
        <label nz-checkbox [(ngModel)]="rechercheCombinee">rechercher en combinant l'année, le type et l'age ?</label>
      </div>
  </div>
</div>
        

        <nz-list nzItemLayout="horizontal" >
            <nz-list-item *ngFor="let item of evenementsAffiches;let pos=index">
                <nz-list-item-meta>
                    <nz-list-item-meta-title>
                        <div class="container">
                            <div class="row justify-content-between">
                                <div class="col-10" >
                                    <a  (click)="detailsGauche(item.id,pos)" >
                                        <b>
                                            {{item.evcategorieevenement2.intitule}}</b>
                                            {{item.type}}
                                            {{item.evcategorieage2.intitule}}
                                            ({{item.sexe}})
                                            {{item.nom}}
                                            {{item.dateDebut | date:'yyyy'}}
                                        
                                    </a>
                                </div>
                                <div class="col-2" >
                                    <nz-avatar  nzIcon="user" [nzSrc]="liensdrapeaux+''+item.pays2?.flag" ></nz-avatar>
                                </div>
                            </div>
                        </div>
                       
                      
                    </nz-list-item-meta-title>
                  </nz-list-item-meta>
               
            </nz-list-item>
            
            <nz-list-empty *ngIf="evenementsAffiches?.length === 0"></nz-list-empty>
          </nz-list>
          <nz-pagination [(nzPageIndex)]="currentIndex" [nzTotal]="totalData" nzShowSizeChanger [(nzPageSize)]="nombre_par_pages" [nzPageSizeOptions]="[5,10,20,30,50,60,100,200]"(nzPageSizeChange)="getPages()" (nzPageIndexChange)="getPages()"></nz-pagination>
    </nz-content>



    <nz-sider nzCollapsible nzBreakpoint="md" [nzWidth]="300" [nzCollapsedWidth]="0" nz-col  [nzSpan]="0" [nzMd]="6" [nzLg]="4" >
        
      <div class="element">
        <h3 class="text-uppercase">RÉSULTATS ANCIENS</h3>
        <nz-list nzItemLayout="horizontal" >
            <nz-list-item *ngFor="let item of resultatsAnciens;let index=index">
                <nz-list-item-meta>
                <nz-list-item-meta-title>
                    
                    
                <a class="link-dark"  (click)="detailsGauche(item.id,index)">
                    {{item.evcategorieevenement2.intitule}} 
                    ({{item.sexe}}) {{item.nom}} <b>{{item.dateDebut | date:'yyyy'}}</b>
                </a>
                    
                  
                </nz-list-item-meta-title>
              </nz-list-item-meta>
            </nz-list-item>
            <nz-list-item >
                <nz-list-item-meta>
                <nz-list-item-meta-title>
                  <a href="https://ng.ant.design">[+]</a>
                </nz-list-item-meta-title>
              </nz-list-item-meta>
            </nz-list-item>
            <nz-list-empty *ngIf="resultatsAnciens?.length === 0"></nz-list-empty>
          </nz-list>
        </div>
        <div class="element">
            pub 300x250
            
            <img *ngIf="url"
                nz-image
                width="100%"
                height="600px"
                [nzSrc]="url"
                alt=""
                />
        </div>
        <!--newsletter-->
        <div class="card element" style="width: 100%;">
            <div class="card-header redwhite" >
                Newsletter
            </div>
            <div class="card-body" style="padding:5px">
              <p>Restez informés chaque semaine et profitez d'offres exclusives sur <a href="https://www.alljudo.shop" target="_blank">alljudo shop</a>.</p>
              <button type="button" class="btn redwhite" (click)="abonnement()" style="width: 60%;" >Je m'abonne</button>
            </div>
       </div>
        <!--ajouter un tournoi-->
       <div class="card element" style="width: 100%;">
        <div class="card-header redwhite" >
            AJOUTER UN TOURNOI
        </div>
        <div class="card-body" style="padding:5px">
          <p>Vous êtes organisateur d'un tournoi ou d'un stage, vous pouvez annoncer gratuitement votre manifestation et mettre en ligne le dossier de présentation au fomat PDF.

            <b>Remplissez votre formulaire pour référencer votre manifestation en moins de deux minutes, alors n'attendez-pas...</b></p>
          <button type="button" class="btn redwhite" (click)="ajouter_tournoi()" style="width: 60%;" >J'ajoute mon tournoi</button>
        </div>
   </div>
   
        
    
    </nz-sider>
</nz-layout>

<div  nz-row [nzJustify]="'center'" class="mobile" style="background-color: white;">
    <div nz-col [nzSm]="24" [nzMd]="24" [nzLg]="24">

        
      <div class="element">
        <h3 class="text-uppercase">RÉSULTATS ANCIENS</h3>
        <nz-list nzItemLayout="horizontal" >
            <nz-list-item *ngFor="let item of resultatsAnciens;let index=index">
                <nz-list-item-meta>
                    <nz-list-item-meta-title>
                        <a class="link-dark"  (click)="detailsGauche(item.id,index)">
                           {{item.evcategorieevenement2.intitule}} 
                            ({{item.sexe}}) {{item.nom}} <b>{{item.dateDebut | date:'yyyy'}}</b>
                        </a>
                     </nz-list-item-meta-title>
              </nz-list-item-meta>
            </nz-list-item>
            <nz-list-item >
                <nz-list-item-meta>
                <nz-list-item-meta-title>
                  <a href="https://ng.ant.design">[+] </a>
                </nz-list-item-meta-title>
              </nz-list-item-meta>
            </nz-list-item>
            <nz-list-empty *ngIf="resultatsAnciens?.length === 0"></nz-list-empty>
          </nz-list>
        </div>
        <div class="element">
            <div>pub 300x250</div>
            
            <img *ngIf="url"
                nz-image
                width="100%"
                height="600px"
                [nzSrc]="url"
                alt=""
                />
        </div>
        <!--newsletter-->
        <div class="card element" style="width: 100%;">
            <div class="card-header redwhite" >
                Newsletter
            </div>
            <div class="card-body" style="padding:5px">
              <p>Restez informés chaque semaine et profitez d'offres exclusives sur <a href="https://www.alljudo.shop" target="_blank">alljudo shop</a>.</p>
              <button type="button" class="btn redwhite" (click)="abonnement()" style="width: 60%;" >Je m'abonne</button>
            </div>
       </div>
        <!--ajouter un tournoi-->
       <div class="card element" style="width: 100%;">
        <div class="card-header redwhite" >
            AJOUTER UN TOURNOI
        </div>
        <div class="card-body" style="padding:5px">
          <p>Vous êtes organisateur d'un tournoi ou d'un stage, vous pouvez annoncer gratuitement votre manifestation et mettre en ligne le dossier de présentation au fomat PDF.

            <b>Remplissez votre formulaire pour référencer votre manifestation en moins de deux minutes, alors n'attendez-pas...</b></p>
          <button type="button" class="btn redwhite" (click)="ajouter_tournoi()" style="width: 60%;" >J'ajoute mon tournoi</button>
        </div>
   </div>
   
    
</div >

