<section class="footer">
    <!-- Footer -->
    <footer class=" text-white">
      <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row accordion accordion-flush">
            <!--debut Grid column-->
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div class="accordion-item pasdefond">
                        <h2 class="accordion-header" id="flush-headingInfos">
                            <button class="accordion-button collapsed pasdefondBouton" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseInfos" aria-expanded="false" aria-controls="flush-collapseInfos">
                                <h5 class="text-uppercase ">INFOS</h5>
                            </button>
                        </h2>
                        <div id="flush-collapseInfos" class="accordion-collapse collapse" aria-labelledby="flush-headingInfos" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                
                                <ul>
                                    <li><a href="http://www.alljudo.net/mentions.html">Mentions légales</a></li>
                                    <li><a href="http://www.alljudo.net/statistiques.php">Statistiques</a></li>
                                    <li><a href="http://www.alljudo.net/contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item pasdefond">
                        <h2 class="accordion-header" id="flush-headingReseaux">
                            <button class="accordion-button collapsed pasdefondBouton" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseReseaux" aria-expanded="false" aria-controls="flush-collapseReseaux">
                                <h5 class="text-uppercase">RESEAUX</h5>
                            </button>
                        </h2>
                        <div id="flush-collapseReseaux" class="accordion-collapse collapse" aria-labelledby="flush-headingReseaux" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul>
                                    <li><a href="https://www.facebook.com/alljudo.net/" target="_blank">Page Facebook</a>
                                    </li>
                                    <li><a href="https://www.facebook.com/groups/867377543414039/" target="_blank">Groupe
                                            Facebook</a></li>
                                    <li><a href="https://twitter.com/alljudo" target="_blank">Twitter</a></li>
                                    <li><a href="https://www.instagram.com/alljudo/" target="_blank">Instagram</a></li>
                                    <li><a href="https://www.youtube.com/user/alljudoTV" target="_blank">Youtube</a></li>
                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div></div>
                </div>
            <!--fin-->

            <!--debut Grid column-->
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0 ">
                <div class="accordion-item pasdefond">
                    <h2 class="accordion-header" id="flush-headingTechnique">
                        <button class="accordion-button collapsed pasdefondBouton" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTechnique" aria-expanded="false" aria-controls="flush-collapseTechnique">
                            <h5 class="text-uppercase ">TECHNIQUES</h5>
                        </button>
                    </h2>
                    <div id="flush-collapseTechnique" class="accordion-collapse collapse" aria-labelledby="flush-headingTechnique" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul>

                                <li><a href="http://www.alljudo.net/ippon-seoi-nage.html">Ippon-seoi-nage</a></li>
                                <li><a href="http://www.alljudo.net/juji-gatame.html">Juji-gatame</a></li>
                                <li><a href="http://www.alljudo.net/kata-guruma.html">Kata-guruma</a></li>
                                <li><a href="http://www.alljudo.net/ko-uchi-gari.html">Ko-uchi-gari</a></li>
                                <li><a href="http://www.alljudo.net/o-goshi.html">O-goshi</a></li>
                                <li><a href="http://www.alljudo.net/o-soto-gari.html">O-soto-gari</a></li>
                                <li><a href="http://www.alljudo.net/o-uchi-gari.html">O-uchi-gari</a></li>
                                <li><a href="http://www.alljudo.net/tai-otoshi.html">Taï-otoshi</a></li>
                                <li><a href="http://www.alljudo.net/uchi-mata.html">Uchi-mata</a></li>
                                <li><a href="http://www.alljudo.net/techniques-de-judo.html">[+] Techniques de judo</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div></div>
            </div>
            <!--fin-->
            <!--debut Grid column-->
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0 ">
                <div class="accordion-item pasdefond">
                    <h2 class="accordion-header" id="flush-headingJudokas">
                        <button class="accordion-button collapsed pasdefondBouton" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseJudokas" aria-expanded="false" aria-controls="flush-collapseJudokas">
                            <h5 class="text-uppercase">JUDOKAS</h5>
                        </button>
                    </h2>
                    <div id="flush-collapseJudokas" class="accordion-collapse collapse" aria-labelledby="flush-headingJudokas" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul>
                                <li><a href="http://www.alljudo.net/judoka-722-riner-teddy.html">Teddy Riner</a></li>
                                <li><a href="http://www.alljudo.net/judoka-3536-maret-cyrille.html">Cyrille Maret</a>
                                </li>
                                <li><a href="http://www.alljudo.net/judoka-2037-iddir-alexandre.html">Alexandre
                                        Iddir</a></li>
                                <li><a href="http://www.alljudo.net/judoka-803-clerget-axel.html">Axel Clerget</a></li>
                                <li><a href="http://www.alljudo.net/judoka-4535-le-blouch-kilian.html">Kilian Le
                                        Blouch</a></li>
                                <li><a href="http://www.alljudo.net/judoka-3532-chaine-guillaume.html">Guillaume
                                        Chaine</a></li>
                                <li><a href="http://www.alljudo.net/judoka-5759-khyar-walide.html">Walide Khyar</a></li>
                                <li><a href="http://www.alljudo.net/judoka-2107-tcheumeo-audrey.html">Audrey
                                        Tcheuméo</a></li>
                                <li><a href="http://www.alljudo.net/judoka-3731-malonga-madeleine.html">Madeleine
                                        Malonga</a></li>
                                <li><a href="http://www.alljudo.net/judoka-17689-shavdatuashvili-lasha.html">Lasha
                                        Shavdatuashvili</a></li>
                            </ul> 
                        </div>
                    </div>
                </div>
                <div></div>
            </div>
            <!--fin-->
            <!--debut Grid column-->
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0 ">
                <div class="accordion-item pasdefond">
                    <h2 class="accordion-header" id="flush-headingNoname">
                        <button class="accordion-button collapsed pasdefondBouton" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNoname" aria-expanded="false" aria-controls="flush-collapseNoname">
                            <h5 class="text-uppercase">.</h5>
                        </button>
                    </h2>
                    <div id="flush-collapseNoname" class="accordion-collapse collapse" aria-labelledby="flush-headingNoname" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul class="without-title">

                                <li><a href="http://www.alljudo.net/judoka-15427-gahie-marie-eve.html">Marie-Eve Gahie</a>
                                </li>
                                <li><a href="http://www.alljudo.net/judoka-2095-agbegnenou-clarisse.html">Clarisse
                                        Agbegnenou</a></li>
                                <li><a href="http://www.alljudo.net/judoka-52-bouras-djamel.html">Djamel Bouras</a></li>
                                <li><a href="http://www.alljudo.net/judoka-46502-bilodid-daria.html">Daria Bilodid</a></li>
                                <li><a href="http://www.alljudo.net/judoka-9725-buchard-amandine.html">Amandine Buchard</a>
                                </li>
                                <li><a href="http://www.alljudo.net/judoka-121-douillet-david.html">David Douillet</a></li>
                                <li><a href="http://www.alljudo.net/judoka-15188-ono-shohei.html">Shohei Ono</a></li>
                                <li><a href="http://www.alljudo.net/judoka-8318-basile-fabio.html">Fabio Basile</a></li>
                                <li><a href="http://www.alljudo.net/judoka-6837-niang-asmaa.html">Asma Niang</a></li>
                                <li><a href="http://www.alljudo.net/judoka-210-iliadis-ilias.html">Ilías Iliádis</a></li>
                
                
                            </ul>
                        </div>
                    </div>
                </div>
                <div></div>
            </div>
            <!--fin-->
            <!--debut Grid column-->
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0 ">
                <div class="accordion-item pasdefond">
                    <h2 class="accordion-header" id="flush-headingShop">
                        <button class="accordion-button collapsed pasdefondBouton" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseShop" aria-expanded="false" aria-controls="flush-collapseShop">
                            <h5 class="text-uppercase">ALLJUDO SHOP</h5>
                        </button>
                    </h2>
                    <div id="flush-collapseShop" class="accordion-collapse collapse" aria-labelledby="flush-headingShop" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <span> <a href="https://www.alljudo.shop/categorie-produit/entrainement-judo/"
                                target="_blank">Entraînement</a> - <a
                                href="https://www.alljudo.shop/categorie-produit/sacs-de-sport-2/" target="_blank">Sacs
                                de
                                sport</a> </span>
                        </div>
                    </div>
                </div>
                <div class="accordion-item pasdefond">
                    <h2 class="accordion-header" id="flush-headingClubs">
                        <button class="accordion-button collapsed pasdefondBouton" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseClubs" aria-expanded="false" aria-controls="flush-collapseClubs">
                            <h5 class="text-uppercase">CLUBS</h5>
                        </button>
                    </h2>
                    <div id="flush-collapseClubs" class="accordion-collapse collapse" aria-labelledby="flush-headingClubs" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul>
                                <li><a href="http://www.alljudo.net/contact-clubs-de-judo.html">Annuaire des clubs</a>
                                </li>
                
                                <li><a href="http://www.flam-judo.com" target="_blank">Club de judo à Marrakech</a></li>
                                <li><a href="https://flam-maroc.com/coaching-sportif-individualise-marrakech/"
                                        target="_blank">Coaching sportif à domicile Marrakech</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item pasdefond">
                    <h2 class="accordion-header" id="flush-headingAvisiter">
                        <button class="accordion-button collapsed pasdefondBouton" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseAvisiter" aria-expanded="false" aria-controls="flush-collapseAvisiter">
                            <h5 class="text-uppercase">A VISITER</h5>
                        </button>
                    </h2>
                    <div id="flush-collapseAvisiter" class="accordion-collapse collapse" aria-labelledby="flush-headingAvisiter" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul>
                                <li class="style-new">Stock images by <a href="https://fr.depositphotos.com/stock-photography.html" target="_blank">Depositphotos</a></li>
                                <li><a href="http://defi30jours.fr/" target="_blank">Défi 30 jours - développement
                                        personnel</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div></div>
            </div>
            <!--fin-->

            
            
            
          
            </div>
        </div>
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="http://www.alljudo.net/"> alljudo 2006 - ∞</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>