.footer{
    text-align: center;
    background-color: #171b22;
    color: #fff;
    line-height: 1.5;
}
h5{
    color: #434a5a;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "MuseoSans-900";
}
ul li a {
    color: #ffffff;
    text-decoration: none;
}
ul{
    list-style: none;
}
ul >li >a:hover {
    color: #ea2121;
    text-decoration: underline;
}
span a {
    color: #ffffff;
    text-decoration: none;
}
span >a:hover {
    color: #ea2121;
    text-decoration: underline;
}
.pasdefond{
    background: none;
}
.pasdefondBouton{
    background: none;
    color: #ffffff;
}
.accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23434a5a'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
 }
.accordion-item{
    border-bottom: 1px solid #434a5a;;
}