<nz-layout nz-row [nzJustify]="'space-around'" >
    <nz-content nz-col [nzSm]="24" [nzMd]="15" [nzLg]="15">
        <h3>Judo : les actualités du judo en France et dans le monde </h3>
        
 <div class="container">
    <div class="row justify-content-between">
        <div class="col-lg-5 col-sm-12 col-md-5" >
            <nz-select nzShowSearch nzAllowClear [(ngModel)]="newscategorie" [nzSize]="size" style="width:100% ;"  nzPlaceHolder="choisir une catégorie">
                <nz-option *ngFor="let option of newscategories" [nzLabel]="option.intitule" [nzValue]="option.intitule"></nz-option>
              </nz-select>
        </div>
        <div class="col-lg-7 col-sm-12 col-md-5">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input type="text" [(ngModel)]="recherche" nz-input placeholder="recherche dans le chapeau" />
              </nz-input-group>
              <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch (click)="search()"><i nz-icon nzType="search"></i></button>
              </ng-template>
        </div>
    </div>
</div>
        

        <nz-list nzItemLayout="horizontal" >
          <nz-list-item *ngFor="let item of newsGaucheHaut;let pos=index">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-12" >
                        <a (click)="detailsGauche(item.id,pos)">
                          <img
                          nz-image 
                          width="100%"
                          height="auto"
                          nzSrc="{{liensNews2022+''+(item.date| date:'yyyy')+'/'+item.photo}}" 
                          alt="ererer"
                        /></a>
                      </div>
                  </div>
                  <div class="row justify-content-center">
                      <div class="col-10">
                          <nz-list-item-meta>
                              <nz-list-item-meta-title>
                                  <ul class="list-group list-group-flush">
                                      <li class="list-group-item text-uppercase"><h4><a href="#" class="link-dark">{{item.titre}}</a></h4></li>
                                      <li class="list-group-item trunc" style="display: block"  >{{item.chapo}}<i nz-icon nzType="comment" title="ajouter un commentaire" nzTheme="outline"></i></li>
                                      <li class="list-group-item"><button type="button" class="btn redwhite" >{{item.newscategorie2?.intitule}}</button></li>
                                    </ul>
                              </nz-list-item-meta-title>
                          </nz-list-item-meta>
                      </div>
                  </div>
              </div>
             
          </nz-list-item>
          
          <nz-list-empty *ngIf="newsGaucheHaut?.length === 0"></nz-list-empty>
        </nz-list>















        <nz-list nzItemLayout="horizontal" >
            <nz-list-item *ngFor="let item of newsGaucheBasAffiches;let pos=index">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-6" >
                            <a (click)="detailsGauche(item.id,pos)">
                            <img
                            nz-image
                            width="100%"
                            height="auto"
                            nzSrc="{{liensNews2022+''+(item.date| date:'yyyy')+'/'+item.photo}}" 
                            alt=""
                          /></a>
                        </div>
                        <div class="col-6 ">
                            <nz-list-item-meta>
                                <nz-list-item-meta-title>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item text-uppercase"><h4><a (click)="detailsGauche(item.id,pos)" class="link-dark">{{item.titre}}</a></h4></li>
                                        <li class="list-group-item trunc" style="display: block"  >{{item.chapo}}<i nz-icon nzType="comment" title="ajouter un commentaire" nzTheme="outline"></i></li>
                                        <li class="list-group-item" *ngIf="item.textlien1"><a (click)="gotoLien(item.id,pos,item.textlien1)" class="link-info">--> {{item.textlien1}}</a></li>
                                        <li class="list-group-item" *ngIf="item.textlien2"><a (click)="gotoLien(item.id,pos,item.textlien2)" class="link-info">--> {{item.textlien2}}</a></li>
                                        <li class="list-group-item" *ngIf="item.textlien3"><a (click)="gotoLien(item.id,pos,item.textlien3)" class="link-info">--> {{item.textlien3}}</a></li>
                                        <li class="list-group-item"><button type="button" class="btn redwhite" >{{item.newscategorie2?item.newscategorie2.intitule:item.date| date:'yyyy'}}</button></li>

                                    </ul>
                                </nz-list-item-meta-title>
                            </nz-list-item-meta>
                        </div>
                    </div>
                </div>
               
            </nz-list-item>
            
            <nz-list-empty *ngIf="newsGaucheBasAffiches?.length === 0"></nz-list-empty>
          </nz-list>
          <nz-pagination [(nzPageIndex)]="currentIndex" [nzTotal]="totalData" nzShowSizeChanger [(nzPageSize)]="nombre_par_pages" [nzPageSizeOptions]="[5,10,20,30,50]"(nzPageSizeChange)="getPages()" (nzPageIndexChange)="getPages()"></nz-pagination>
    </nz-content>



    <nz-sider nzCollapsible nzBreakpoint="md" [nzWidth]="300" [nzCollapsedWidth]="0" nz-col  [nzSpan]="0" [nzMd]="6" [nzLg]="4" >
        
      <div class="element">
        <h3 class="text-uppercase">En bref</h3>
        <nz-list nzItemLayout="horizontal" >
            <nz-list-item *ngFor="let item of latestNews;let index=index">
                <nz-list-item-meta>
                <nz-list-item-meta-title>
                   <a style="color: red"><b>{{item.date| date:'dd/MM/yyyy' }} </b></a> 
                  <a class="link-primary" (click)="detailsBref(item.id,index)">{{ item.titre }}</a>
                  
                </nz-list-item-meta-title>
              </nz-list-item-meta>
            </nz-list-item>
            <nz-list-item >
                <nz-list-item-meta>
                <nz-list-item-meta-title>
                  <a href="https://ng.ant.design">[+] de breves</a>
                </nz-list-item-meta-title>
              </nz-list-item-meta>
            </nz-list-item>
            <nz-list-empty *ngIf="latestNews?.length === 0"></nz-list-empty>
          </nz-list>
        </div>
        <div class="element">
            pub 300x250
            
            <img *ngIf="url"
                nz-image
                width="100%"
                height="600px"
                [nzSrc]="url"
                alt=""
                />
        </div>
        <!--newsletter-->
        <div class="card element" style="width: 100%;">
            <div class="card-header redwhite" >
                Newsletter
            </div>
            <div class="card-body" style="padding:5px">
              <p>Restez informés chaque semaine et profitez d'offres exclusives sur <a href="https://www.alljudo.shop" target="_blank">alljudo shop</a>.</p>
              <button type="button" class="btn redwhite" style="width: 60%;" (click)="abonnement()">Je m'abonne</button>
            </div>
       </div>
        <!--ajouter un tournoi-->
       <div class="card element" style="width: 100%;">
        <div class="card-header redwhite" >
            AJOUTER UN TOURNOI
        </div>
        <div class="card-body" style="padding:5px">
          <p>Vous êtes organisateur d'un tournoi ou d'un stage, vous pouvez annoncer gratuitement votre manifestation et mettre en ligne le dossier de présentation au fomat PDF.

            <b>Remplissez votre formulaire pour référencer votre manifestation en moins de deux minutes, alors n'attendez-pas...</b></p>
          <button type="button" class="btn redwhite" style="width: 60%;"(click)="ajouter_tournoi()" >J'ajoute mon tournoi</button>
        </div>
   </div>
   
        
    <div class="element">
        <h3 class="text-uppercase">Commentaires</h3>
        <nz-list nzItemLayout="horizontal" >
            <nz-list-item *ngFor="let item of commentaires">
                <nz-list-item-meta>
                                <nz-list-item-meta-title>
                                    «<span class="d-inline-block text-truncate" style="max-width: 150px;">
                                        {{item.commentaire}}</span>»-<br>
                                        <b style="color: red;">{{item.user2?item.user2.username:item.user_id}}</b>-
                                        le <b style="color: rgb(219, 105, 105);">{{item.date| date:'dd/MM/yyyy' }}</b> 
                                </nz-list-item-meta-title>
                            </nz-list-item-meta>
               
            </nz-list-item>
           
            <nz-list-empty *ngIf="commentaires?.length === 0"></nz-list-empty>
          </nz-list>
        </div>
    </nz-sider>
</nz-layout>

<div  nz-row [nzJustify]="'center'" class="mobile" style="background-color: white;">
    <div nz-col [nzSm]="24" [nzMd]="24" [nzLg]="24">

        
      <div class="element">
        <h3 class="text-uppercase">En bref</h3>
        <nz-list nzItemLayout="horizontal" >
            <nz-list-item *ngFor="let item of latestNews;let index=index">
                <nz-list-item-meta>
                <nz-list-item-meta-title>
                   <a style="color: red"><b>{{item.date| date:'dd/MM/yyyy' }} </b></a> 
                  <a class="link-primary" (click)="detailsBref(item.id,index)">{{ item.titre }}</a>
                  
                </nz-list-item-meta-title>
              </nz-list-item-meta>
            </nz-list-item>
            <nz-list-item >
                <nz-list-item-meta>
                <nz-list-item-meta-title>
                  <a href="https://ng.ant.design">[+] de breves</a>
                </nz-list-item-meta-title>
              </nz-list-item-meta>
            </nz-list-item>
            <nz-list-empty *ngIf="latestNews?.length === 0"></nz-list-empty>
          </nz-list>
        </div>
        <div class="element">
            <div>pub 300x250</div>
            
            <img *ngIf="url"
                nz-image
                width="100%"
                height="600px"
                [nzSrc]="url"
                alt=""
                />
        </div>
        <!--newsletter-->
        <div class="card element" style="width: 100%;">
            <div class="card-header redwhite" >
                Newsletter
            </div>
            <div class="card-body" style="padding:5px">
              <p>Restez informés chaque semaine et profitez d'offres exclusives sur <a href="https://www.alljudo.shop" target="_blank">alljudo shop</a>.</p>
              <button type="button" class="btn redwhite" style="width: 60%;" (click)="abonnement()">Je m'abonne</button>
            </div>
       </div>
        <!--ajouter un tournoi-->
       <div class="card element" style="width: 100%;">
        <div class="card-header redwhite" >
            AJOUTER UN TOURNOI
        </div>
        <div class="card-body" style="padding:5px">
          <p>Vous êtes organisateur d'un tournoi ou d'un stage, vous pouvez annoncer gratuitement votre manifestation et mettre en ligne le dossier de présentation au fomat PDF.

            <b>Remplissez votre formulaire pour référencer votre manifestation en moins de deux minutes, alors n'attendez-pas...</b></p>
          <button type="button" class="btn redwhite" style="width: 60%;" (click)="ajouter_tournoi()" >J'ajoute mon tournoi</button>
        </div>
   </div>
   
    <div class="element">
        <h3 class="text-uppercase">Commentaires</h3>
        <nz-list nzItemLayout="horizontal" >
            <nz-list-item *ngFor="let item of commentaires">
                
                            <nz-list-item-meta>
                                <nz-list-item-meta-title>
                                   « <span class="d-inline-block text-truncate" style="max-width: 150px;">
                                        {{item.commentaire}}</span>»-
                                        <b style="color: red;">{{item.user2?item.user2.username:item.user_id}}</b>-
                                        le {{item.date| date:'dd/MM/yyyy' }} 
                                </nz-list-item-meta-title>
                            </nz-list-item-meta>
                       
               
            </nz-list-item>
           
            <nz-list-empty *ngIf="commentaires?.length === 0"></nz-list-empty>
          </nz-list>
        </div>
</div >

