<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-md-12 col-lg-8 col-sm-24" >
            <nz-tabset>
                <nz-tab nzTitle="Ajouter video">
                    <div class="card form1"  >
                        <div class="card-body">
                            <form nz-form [formGroup]="videoForm" (ngSubmit)="submitForm()">
                                <nz-form-item>
                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="titre" nzTooltipTitle="titre ?">
                                        <span>titre</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Entrez un titre valide!">
                                        <input nz-input id="titre" formControlName="titre" />
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="duree" nzTooltipTitle="duree ?">
                                        <span>duree</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Entrez un duree valide!">
                                        <input nz-input id="duree" formControlName="duree" />
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label
                                    [nzSm]="6"
                                    [nzXs]="24"
                                    nzFor="objet"
                                    nzTooltipTitle="objet ?">
                                        <span>objet</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Entrez un objet valide!">
                                        <textarea nz-input id="objet" formControlName="objet" nz-input rows="4"></textarea>
                                        
                                    </nz-form-control>
                                </nz-form-item>
                                
                                <nz-form-item>
                                    <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="vignette" nzTooltipTitle="vignette ?">
                                        <span>vignette</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Entrez un vignette valide!">
                                        <input nz-input id="vignette" formControlName="vignette" />
                                    </nz-form-control>
                                </nz-form-item>
                               
                                <nz-form-item>
                                    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>A la une</nz-form-label>
                                    <nz-form-control [nzSm]="16" [nzXs]="24">
                                        <nz-radio-group formControlName="a_la_une">
                                            <label nz-radio nzValue="true">Oui</label>
                                            <label nz-radio nzValue="false">Non</label>
                                        </nz-radio-group>
                                    </nz-form-control>
                                </nz-form-item>
                                
                                <nz-form-item>
                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="categorie" nzRequired nzTooltipTitle="categorie ?">
                                        <span>categorie</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="categorie non choisit !">
                                        <nz-select  nzPlaceHolder="categorie" nzAllowClear nzShowSearch formControlName="categorie" [nzSize]="size">
                                            <nz-option *ngFor="let cat of categories()" [nzLabel]="cat" [nzValue]="cat"></nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="champion" nzTooltipTitle="champion ?">
                                        <span>champion</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Entrez un champion valide!">
                                        <input nz-input id="champion" formControlName="champion_id" />
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="technique"  nzTooltipTitle="technique ?">
                                        <span>technique</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="technique non choisit !">
                                        <nz-select  nzPlaceHolder="technique" nzAllowClear nzShowSearch formControlName="technique_id" [nzSize]="size">
                                            <nz-option *ngFor="let t of techList" [nzLabel]="t.famille+' - '+t.nom" [nzValue]="t.id"></nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="technique2"  nzTooltipTitle="technique2 ?">
                                        <span>technique2</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="technique2 non choisit !">
                                        <nz-select  nzPlaceHolder="technique2" nzAllowClear nzShowSearch formControlName="technique2_id" [nzSize]="size">
                                            <nz-option *ngFor="let t of techList" [nzLabel]="t.famille+' - '+t.nom" [nzValue]="t.id"></nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="evenement" nzRequired nzTooltipTitle="evenement ?">
                                        <span>evenement</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="evenement non choisit !">
                                        <nz-select  nzPlaceHolder="evenement" nzAllowClear nzShowSearch formControlName="evenement_id" [nzSize]="size">
                                            <nz-option *ngFor="let ev of listeEvents" [nzLabel]="ev.id+' '+ev.evcategorieevenement2?.intitule+' '+ev.nom+' '+(ev.dateDebut | date:'dd/MM/yyyy')" [nzValue]="ev.id"></nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="poids" nzTooltipTitle="poids ?">
                                        <span>poids</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Entrez un poids valide!">
                                        <input nz-input id="poids" formControlName="poidID" />
                                    </nz-form-control>
                                </nz-form-item>

                                <nz-form-item>
                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="sexe" nzTooltipTitle="sexe ?">
                                        <span>sexe</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="sexe non choisit !">
                                        <nz-select  nzPlaceHolder="sexe" nzAllowClear nzShowSearch formControlName="sexe" [nzSize]="size">
                                            <nz-option *ngFor="let sex of sexes()" [nzLabel]="sex" [nzValue]="sex"></nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                                
                                <nz-form-item>
                                    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>top ippon</nz-form-label>
                                    <nz-form-control [nzSm]="16" [nzXs]="24">
                                        <nz-radio-group formControlName="top_ippon">
                                            <label nz-radio nzValue="true">Oui</label>
                                            <label nz-radio nzValue="false">Non</label>
                                        </nz-radio-group>
                                    </nz-form-control>
                                </nz-form-item>
                                
            
            
            
            
                                <!-- bouton de soumission-->
                                <nz-form-item>
                                    <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 16, offset: 8 }">
                                    <button class="text-uppercase" nz-button nzType="primary" [disabled]="!videoForm.valid">créer</button>
                                    </nz-form-control>
                                </nz-form-item>
                                
                            </form>
                        </div>
                    </div>
                </nz-tab>
                <nz-tab nzTitle="Liste des videos">
                    
                            <nz-table [nzSize]="'small'"
                            #rowSelectionTable 
                            nzShowSizeChanger
                            [nzData]="listOfDisplayedData"
                            (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
                            >
                            <thead>
                                <tr>
                                <th>ID</th>
                                <th nzCustomFilter><nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                                    <i nz-icon nzType="search"></i>
                                </nz-filter-trigger>
                                Titre
                                </th>
                                <th>Categorie</th>
                                <th>Vignette</th>
                                <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of rowSelectionTable.data">
                                    <td>{{ data.id }}</td>
                                    <td [nzBreakWord]="'true'">{{ data.titre }}</td>
                                    <td [nzBreakWord]="'true'">{{data.categorie}}</td>
                                    <td [nzBreakWord]="'true'">
                                        <img nz-image width="70px" height="60px" [nzSrc]="data.vignette"  alt="data.titre" />
                                    </td>
                                    <td>
                                        <i title="supprimer" nz-icon nzType="delete" [nzTheme]="'fill'" (click)="delete(data.id)" class="icones" style="color: rgb(241, 24, 0);"></i> 
                                        <i title="modifier" nz-icon nzType="edit" nzTheme="outline" (click)="edit(data.id)" class="icones" style="color: rgb(61, 204, 0);"></i>
                                    </td>
                                </tr>
                            </tbody>
                            </nz-table>
                           
                        
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <div class="ant-table-filter-dropdown">
                          <div class="search-box">
                            <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
                            <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
                            <button nz-button nzSize="small" (click)="reset()">Reset</button>
                          </div>
                        </div>
                      </nz-dropdown-menu>
                </nz-tab>
                <nz-tab nzTitle="Flux de videos">
                    <nz-list nzItemLayout="horizontal" >
                        <nz-list-item *ngFor="let item of videosRecherches;let pos=index">
                            <div class="container">
                                <div class="row justify-content-between">
                                    <div class="col-8 ">
                                        <nz-list-item-meta>
                                            <nz-list-item-meta-title>
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item "><h5><a (click)="addVideo(item[1].videoID)" class="link-dark">{{item[1]?.title}}</a></h5></li>
                                                    <li class="list-group-item" *ngIf="item[1].duration" >Duree: {{item[1]?.duration}}</li>
                                                    <li class="list-group-item"><button type="button" class="btn redwhite" >{{item[1]?.channelTitle}}</button></li>
            
                                                </ul>
                                            </nz-list-item-meta-title>
                                        </nz-list-item-meta>
                                    </div>
                                    <div class="col-4" >
                                        <a (click)="addVideo(item[1]?.videoID)">
                                        <img
                                        nz-image
                                        width="100%"
                                        height="auto"
                                        nzSrc="{{item[1].image}}" 
                                        alt=""
                                      /></a>
                                    </div>
                                   
                                </div>
                            </div>
                           
                        </nz-list-item>
                        
                        <nz-list-empty *ngIf="videosRecherches?.length === 0"></nz-list-empty>
                      </nz-list>
                      <nz-pagination [(nzPageIndex)]="currentIndex" [nzTotal]="totalData" nzShowSizeChanger [(nzPageSize)]="nombre_par_pages" [nzPageSizeOptions]="[5,10,20,30,50]"(nzPageSizeChange)="getPages()" (nzPageIndexChange)="getPages()"></nz-pagination>
                </nz-tab>
                <nz-tab nzTitle="recherche de videos">
                    <div class="card form1"  >
                        <div class="card-body">
                            <h5>entrez le mot clé avec pas plus de 2 espaces ' 'consecutifs entre les termes ?</h5>
                            <form nz-form [formGroup]="searchVideosForm" (ngSubmit)="searchVideos()">
                                <nz-form-item>
                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="keyword" nzTooltipTitle="keyword ?">
                                        <span>keyword</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Entrez un keyword valide!">
                                        <input nz-input id="keyword" formControlName="keyword" />
                                    </nz-form-control>
                                </nz-form-item>



                                <nz-form-item>
                                    <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 16, offset: 8 }">
                                    <button class="text-uppercase" nz-button nzType="primary" [disabled]="!searchVideosForm.valid">lancer la recherche</button>
                                    </nz-form-control>
                                </nz-form-item>
                            </form>
                        </div>
                    </div>
                </nz-tab >
                <nz-tab nzTitle="chaines">
                    <h1>rechercher chaines</h1>
                    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" >
                        <input type="text" nz-input placeholder="nom approximatif" [(ngModel)]="rechercheChaine" />
                      </nz-input-group>
                      <ng-template #suffixIconButton>
                        <button nz-button nzType="primary" nzSearch (click)="rechercherChaine()"><i nz-icon nzType="search"></i></button>
                      </ng-template>



                      <nz-table #basicTable [nzData]="chaines">
                        <thead>
                          <tr>
                            <th>Id</th>
                            <th>Titre</th>
                            <th>Descriptions</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of basicTable.data; let pos=index">
                            <td [nzBreakWord]="true">{{item[1].snippet.channelId }}</td>
                            <td>{{item[1].snippet.channelTitle }}</td>
                            <td [colSpan]="3">{{item[1].snippet.description }}</td>
                            <td
                                [nzChecked]="false"
                                (nzCheckedChange)="addchannel(pos)"
                            ></td>
                          </tr>
                        </tbody>
                      </nz-table>
                      <button nz-button nzType="primary">Valider</button>
                      
                </nz-tab>

                

              </nz-tabset>
        </div>
    </div>
</div>

