<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-md-12 col-lg-8 col-sm-24" >
            
                        
                    
            <nz-tabset>
                <nz-tab nzTitle="Ajouter champion">
                    <div class="card form1"  >
                        <div class="card-body">
                            <form nz-form [formGroup]="championForm" (ngSubmit)="submitForm()">
                                <nz-form-item>
                                    <nz-form-label
                                    [nzSm]="6"
                                    [nzXs]="24"
                                    nzRequired
                                    nzFor="nom"
                                    nzTooltipTitle="nom ?">
                                        <span>nom</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Entrez un nom valide!">
                                        <input nz-input id="nom" formControlName="nom" />
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>sexe</nz-form-label>
                                    <nz-form-control [nzSm]="16" [nzXs]="24">
                                        <nz-radio-group formControlName="sexe">
                                            <label nz-radio nzValue="M">homme</label>
                                            <label nz-radio nzValue="F">femme</label>
                                        </nz-radio-group>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label
                                    [nzSm]="6"
                                    [nzXs]="24"
                                    nzFor="pays"
                                    nzRequired
                                    nzTooltipTitle="pays ?">
                                        <span>pays</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="pays non choisit !">
                                        <nz-select  nzPlaceHolder="pays" nzAllowClear nzShowSearch formControlName="paysID" [nzSize]="size">
                                            <nz-option *ngFor="let pays of listePays" [nzLabel]="pays.abreviation+' '+pays.nomPays" [nzValue]="pays.abreviation"></nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label
                                    [nzSm]="6"
                                    [nzXs]="24"
                                    nzFor="nvPays"
                                    nzTooltipTitle="nvPays ?">
                                        <span>nvPays</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="nvPays non choisit !">
                                        <nz-select  nzPlaceHolder="nvPays" nzAllowClear nzShowSearch formControlName="nvPaysID" [nzSize]="size">
                                            <nz-option *ngFor="let nvPays of listePays" [nzLabel]="nvPays.abreviation+' '+nvPays.nomPays" [nzValue]="nvPays.abreviation"></nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Date naissance</nz-form-label>
                                    <nz-form-control [nzSm]="16" [nzXs]="24">
                                    <nz-date-picker formControlName="dateNaissance2"></nz-date-picker>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label [nzSm]="8" [nzXs]="24" >Date changement nationalite</nz-form-label>
                                    <nz-form-control [nzSm]="16" [nzXs]="24">
                                    <nz-date-picker formControlName="dateChangementNat2"></nz-date-picker>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label
                                    [nzSm]="6"
                                    [nzXs]="24"
                                    nzFor="lieuNaissance"
                                    nzRequired
                                    nzTooltipTitle="entrez lieuNaissance">
                                        <span>lieuNaissance</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Entrez un lieuNaissance valide!">
                                        <input nz-input id="lieuNaissance" formControlName="lieuNaissance" />
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label
                                    [nzSm]="6"
                                    [nzXs]="24"
                                    nzFor="grade"
                                    nzRequired
                                    nzTooltipTitle="entrez grade">
                                        <span>grade</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Entrez un grade valide!">
                                        <input nz-input id="grade" formControlName="grade" />
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label
                                    [nzSm]="6"
                                    [nzXs]="24"
                                    nzFor="taille"
                                    nzRequired
                                    nzTooltipTitle="entrez taille">
                                        <span>taille</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Entrez un taille valide!">
                                        <input nz-input id="taille" formControlName="taille" />
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label
                                    [nzSm]="6"
                                    [nzXs]="24"
                                    nzFor="poids"
                                    nzRequired
                                    nzTooltipTitle="entrez poids">
                                        <span>poids</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Entrez un poids valide!">
                                        <input nz-input id="poids" formControlName="poids" />
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label
                                    [nzSm]="6"
                                    [nzXs]="24"
                                    nzRequired
                                    nzFor="club"
                                    nzTooltipTitle="club du champion ?">
                                        <span>club</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="club non choisit !">
                                        <nz-select  nzPlaceHolder="club" nzAllowClear nzShowSearch formControlName="clubs" [nzSize]="size">
                                            <nz-option *ngFor="let club of clubs" [nzLabel]="club.id+' '+club.club" [nzValue]="club.club"></nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label
                                    [nzSm]="6"
                                    [nzXs]="24"
                                    nzFor="tokuiWaza"
                                    
                                    nzTooltipTitle="tokuiWaza ?">
                                        <span>tokuiWaza</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Entrez un tokuiWaza valide!">
                                        <textarea nz-input id="tokuiWaza" formControlName="tokuiWaza" nz-input rows="4"></textarea>
                                        
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label
                                    [nzSm]="6"
                                    [nzXs]="24"
                                    nzFor="forces"
                                    nzTooltipTitle="forces ?">
                                        <span>forces</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="non valide!">
                                        <textarea nz-input id="forces" formControlName="forces" nz-input rows="4"></textarea>
                                        
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label
                                    [nzSm]="6"
                                    [nzXs]="24"
                                    nzFor="activite"
                                    
                                    nzTooltipTitle="entrez activite">
                                        <span>activite</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Entrez un activite valide!">
                                        <input nz-input id="activite" formControlName="activite" />
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label
                                    [nzSm]="6"
                                    [nzXs]="24"
                                    nzFor="idole"
                                    
                                    nzTooltipTitle="entrez idole">
                                        <span>idole</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Entrez un idole valide!">
                                        <input nz-input id="idole" formControlName="idole" />
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label
                                    [nzSm]="6"
                                    [nzXs]="24"
                                    nzFor="idole2"
                                   
                                    nzTooltipTitle="entrez idole2">
                                        <span>chanteur ou groupes préféré :	</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Entrez un idole2 valide!">
                                        <input nz-input id="idole2" formControlName="idole2" />
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label
                                    [nzSm]="6"
                                    [nzXs]="24"
                                    nzFor="lidole2"
                                    
                                    nzTooltipTitle="entrez lidole2">
                                        <span>lien 2</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Entrez un lidole2 valide!">
                                        <input nz-input id="lidole2" formControlName="lidole2" />
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label
                                    [nzSm]="6"
                                    [nzXs]="24"
                                    nzFor="idole3"
                                    
                                    nzTooltipTitle="entrez idole3">
                                        <span>chanson préférée :	</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Entrez un idole3 valide!">
                                        <input nz-input id="idole3" formControlName="idole3" />
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label
                                    [nzSm]="6"
                                    [nzXs]="24"
                                    nzFor="lidole3"
                                    
                                    nzTooltipTitle="entrez lidole3">
                                        <span>lien 3</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Entrez un lidole3 valide!">
                                        <input nz-input id="lidole3" formControlName="lidole3" />
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label
                                    [nzSm]="6"
                                    [nzXs]="24"
                                    nzFor="idole4"
                                    
                                    nzTooltipTitle="entrez idole4">
                                        <span>humoriste préféré :	</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Entrez un idole4 valide!">
                                        <input nz-input id="idole4" formControlName="idole4" />
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label
                                    [nzSm]="6"
                                    [nzXs]="24"
                                    nzFor="lidole4"
                                    
                                    nzTooltipTitle="entrez lidole4">
                                        <span>lien 4</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Entrez un lidole4 valide!">
                                        <input nz-input id="lidole4" formControlName="lidole4" />
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label
                                    [nzSm]="6"
                                    [nzXs]="24"
                                    nzFor="idole5"
                                    
                                    nzTooltipTitle="entrez idole5">
                                        <span>sketch préféré :</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Entrez un idole5 valide!">
                                        <input nz-input id="idole5" formControlName="idole5" />
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label
                                    [nzSm]="6"
                                    [nzXs]="24"
                                    nzFor="lidole5"
                                   
                                    nzTooltipTitle="entrez lidole5">
                                        <span>lien 5</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Entrez un lidole5 valide!">
                                        <input nz-input id="lidole5" formControlName="lidole5" />
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label
                                    [nzSm]="6"
                                    [nzXs]="24"
                                    nzFor="idole6"
                                   
                                    nzTooltipTitle="entrez idole6">
                                        <span>Film préféré :	</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Entrez un idole6 valide!">
                                        <input nz-input id="idole6" formControlName="idole6" />
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label
                                    [nzSm]="6"
                                    [nzXs]="24"
                                    nzFor="lidole6"
                                    
                                    nzTooltipTitle="entrez lidole6">
                                        <span>lien 6</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Entrez un lidole6 valide!">
                                        <input nz-input id="lidole6" formControlName="lidole6" />
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label
                                    [nzSm]="6"
                                    [nzXs]="24"
                                    nzFor="idole7"
                                   
                                    nzTooltipTitle="entrez idole7">
                                        <span>Plat préféré :</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Entrez un idole7 valide!">
                                        <input nz-input id="idole7" formControlName="idole7" />
                                    </nz-form-control>
                                </nz-form-item>
                               <nz-form-item>
                                    <nz-form-label
                                    [nzSm]="6"
                                    [nzXs]="24"
                                    nzFor="lidole7"
                                    
                                    nzTooltipTitle="entrez lidole7">
                                        <span>lien 7</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Entrez un lidole7 valide!">
                                        <input nz-input id="lidole7" formControlName="lidole7" />
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label
                                    [nzSm]="6"
                                    [nzXs]="24"
                                    nzFor="anecdote"
                                    
                                    nzTooltipTitle="anecdote ?">
                                        <span>anecdote</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Entrez un anecdote valide!">
                                        <textarea nz-input id="anecdote" formControlName="anecdote" nz-input rows="4"></textarea>
                                        
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label
                                    [nzSm]="6"
                                    [nzXs]="24"
                                    nzFor="phrase"
                                    
                                    nzTooltipTitle="phrase ?">
                                        <span>phrase</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Entrez un phrase valide!">
                                        <textarea nz-input id="phrase" formControlName="phrase" nz-input rows="4"></textarea>
                                        
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label
                                    [nzSm]="6"
                                    [nzXs]="24"
                                    nzFor="vuPar"
                                   
                                    nzTooltipTitle="vuPar ?">
                                        <span>vuPar</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Entrez un vuPar valide!">
                                        <textarea nz-input id="vuPar" formControlName="vuPar" nz-input rows="4"></textarea>
                                        
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label
                                    [nzSm]="6"
                                    [nzXs]="24"
                                    nzFor="site"
                                    
                                    nzTooltipTitle="entrez site">
                                        <span>site</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Entrez un site valide!">
                                        <input nz-input id="site" formControlName="site" />
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label
                                    [nzSm]="6"
                                    nzRequired
                                    [nzXs]="24"
                                    nzFor="mainDirectice"
                                    nzTooltipTitle="mainDirectice de la champion ?">
                                        <span>mainDirectice</span>
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="mainDirectice non choisit !">
                                        <nz-select  nzPlaceHolder="mainDirectice" nzAllowClear nzShowSearch formControlName="mainDirectrice" [nzSize]="size">
                                            <nz-option *ngFor="let mainDirectice of mainDirectrices()" [nzLabel]="mainDirectice" [nzValue]="mainDirectice"></nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                                
                                
            
            
            
            
                                <!-- bouton de soumission-->
                                <nz-form-item>
                                    <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 16, offset: 8 }">
                                    <button class="text-uppercase" nz-button nzType="primary" [disabled]="!championForm.valid">créer</button>
                                    </nz-form-control>
                                </nz-form-item>
                                
                            </form>
                        </div>
                    </div>
                </nz-tab>
                <nz-tab nzTitle="Liste des champions">
                    <nz-pagination [(nzPageIndex)]="lettre_index" [nzTotal]="26"  [nzItemRender]="renderItemTemplate" [nzPageSize]="1" [nzSize]="'small'"></nz-pagination>
                        <ng-template #renderItemTemplate let-type let-page="page">
                            <ng-container [ngSwitch]="type">
                                <b *ngSwitchCase="'page'" (click)="changerLettre(page)">{{ lettres[page] }}</b>
                                <a *ngSwitchCase="'prev'">Previous</a>
                                <a *ngSwitchCase="'next'">Next</a>
                                <b *ngSwitchCase="'prev_5'">⇦</b>
                                <b *ngSwitchCase="'next_5'">⇨</b>
                            </ng-container>
                        </ng-template>
                        <br>
                            <nz-table [nzSize]="'small'"
                            #rowSelectionTable 
                            nzShowSizeChanger
                            [nzData]="listOfDisplayedData"
                            (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
                            >
                            <thead>
                                <tr>
                                <th>ID</th>
                                <th nzCustomFilter><nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                                    <i nz-icon nzType="search"></i>
                                </nz-filter-trigger>
                                Nom
                                </th>
                                <th>Sexe</th>
                                <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of rowSelectionTable.data">
                                    <td>{{ data.id }}</td>
                                    <td [nzBreakWord]="'true'">{{ data.nom }}</td>
                                    <td [nzBreakWord]="'true'">{{data.sexe}}</td>
                                    <td>
                                        <i title="supprimer" nz-icon nzType="delete" [nzTheme]="'fill'" (click)="delete(data.id)" class="icones" style="color: rgb(241, 24, 0);"></i> 
                                        <i title="modifier" nz-icon nzType="edit" nzTheme="outline" (click)="edit(data.id)" class="icones" style="color: rgb(61, 204, 0);"></i>
                                    </td>
                                </tr>
                            </tbody>
                            </nz-table>
                           
                        
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <div class="ant-table-filter-dropdown">
                          <div class="search-box">
                            <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
                            <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
                            <button nz-button nzSize="small" (click)="reset()">Reset</button>
                          </div>
                        </div>
                      </nz-dropdown-menu>
                </nz-tab>
                <nz-tab nzTitle="Tab 3">
                    tab 3
                </nz-tab>
              </nz-tabset>
        </div>
    </div>
</div>
