<ul nz-menu nzMode="horizontal">
  <li nz-menu-item nzSelected  (click)="annonces()">
    <i nz-icon nzType="pic-left"></i>
    Annonces
  </li>
  <li nz-menu-item  (click)="categories()">
    <i nz-icon nzType="folder-open"></i>
    Categories
  </li>
  <li nz-menu-item  (click)="sous_categories()">
    <i nz-icon nzType="folder-add"></i>
    sous categories
  </li>
  <li nz-menu-item  (click)="parametres()">
    <i nz-icon nzType="setting"></i>
    parametres
  </li>
  
</ul>
<div class="container">
  <div class="row justify-content-md-center">
      <div class="col col-md-12 col-lg-24 col-sm-24" >
        
        annonces
          <router-outlet></router-outlet>
      </div>
  </div>
</div>

